<section class="section numbers-section" style="background-image: url('{{ site.numbers_bg }}')">
  <div class="numbers-overlay"></div>
  <div class="container position-relative">
    <div class="row">
      {% for stat in site.data.stats %}
      <div class="col-6 col-md-3 mb-4 mb-md-0">
        <div class="counter-item text-center">
          <i class="counter-icon {{ stat.icon }}"></i>
          <h3 class="counter" data-target="{{ stat.value }}">0</h3>
          <p>{{ stat.label }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
